@model MyShop1.Core.ViewModel.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Product List</h2>

<div class="col-md-2">
    <h3>Filter by Product Category</h3>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>
<div class="col-md-10">

    @foreach (var item in Model.Products)
    {
        <div class="col-md-4" style="height:350px;padding:10px;margin:10px; border:solid thin whitesmoke ">
            <div class="col-md-12">
                <img class="img" style="height:150px" src="~/Content/ProductImages/@item.Image" />
            </div>

            <div class="col-md-12">
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </div>

            <div class="col-md-12">
                <p>@item.Description  </p>
            </div>

            <div class="col-md-12">
                <h4>@item.Price  </h4>
            </div>

            <div class="col-md-12">
                <a href="@Url.Action("AddToBasket","Basket", new { Id=item.Id})" class="btn btn-default ">Add to Cart</a>
            </div>

        </div>


    }

</div>
<a href="/Home/Contact">Contact us</a>
<h> &nbsp&nbsp</h>
<a href="/Home/About">About us</a>
<div class="col-md-12 clearfix"></div>
