@model IEnumerable<MyShop1.Core.ViewModel.BasketItemViewModel>

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td><img style="height:60px" class="img" src="~/Content/ProductImages/@item.Image"/></td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qantity)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @String.Format("{0:c}",item.Price)
        </td>
        <td>
            @String.Format("{0:c}", item.Price * item.Qantity)
        </td>
        <td>
           <a href="@Url.Action("RemoveFromBasket","Basket", new { Id=item.Id})" class="btn btn-danger">delete</a>
        </td>
    </tr>
}
    <tr>
        <td colspan="4" style="text-align:right">BasketTotal</td>
        <td>@String.Format("{0:c}", (from p in Model select p.Price * p.Qantity).Sum())</td>
    </tr>

</table>
